<!DOCTYPE html>
<html>
  <head>
    <title>Check Out</title>
  </head>
  <body>
    <p>Enter Item Here</p>
    <form>
      <input id = 'purchase_item' name = 'purchase_item' type = 'text'>
    </form>
  </body>
</html>
